.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
  }

.logo {
    max-width: 30%;
    animation: moveCircular 3s ease-in-out infinite;
}

@keyframes moveCircular {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}